* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", san-serif;
    color: #333;
}

.wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 30px;

    &.day {
        /* background-image: url("../images/bg/day.jpg"); */
        background: rgb(60,60,185);
        background: linear-gradient(140deg, rgba(60,60,185,1) 30%, rgba(0,212,255,1) 60%);
    }

    &.night {
        /* background-image: url("../images/bg/night.jpg"); */
        background: rgb(2,0,64);
        background: linear-gradient(139deg, rgba(2,0,64,1) 30%, rgba(0,59,167,1) 60%);
    }
}

.weather {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #aaa;

    &-info {
        font-size: 20px;
        line-height: 24px;
        padding-top: 20px;
    }

    &-title {
        font-size: 30px;
        line-height: 34px;
    }

    &-description {
        text-transform: capitalize;
    }

    &-image {
        line-height: 64px;
        padding-top: 5px;

        img {
            vertical-align: top;
            width: 64px;
        }
    }

    &-search {
        input {
            background: #fff;
            border: 1px solid #333;
            font-size: 14px;
            border-radius: 3px;
            padding: 0 5px;
            height: 40px;
            line-height: 40px;
            outline: none;
            width: 100%;
        }

        button[type="submit"] {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            background: #fff;
            border: 1px solid #333;
            border-radius: 3px;
            vertical-align: top;
            cursor: pointer;
            transition: all 0.2s ease-out;
            /* &:hover{
                background: #32a852;
                color: #fff;
            } */
        }

        .current-location {
            color: #333;
            margin-top: 10px;
            display: inline-block;
        }
    }
}

.not-found {
    margin-top: 10px;
}

.degF {
    display: none;
}

.small-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}
